.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/Bg-Image.jpg");
  height: 91.2vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
